body {
    background-color: bisque;
}
box{
    padding: 70px 35px;
}
h1{
    text-align: center;
    padding: 20px 10px;
}
p{
    text-align: center;
    font-size: 25px;
}
.container{
    width: 900px;
    height: 350px;
    background-color: antiquewhite;
    border:2px solid black;
    margin-top: 40px;
    padding: 50px 100px;
}
.smallbox{
    width: 200px;
    height: 200px;
    background-color: orange;
    border: 2px solid black;
    margin: 20px 10px;
    justify-content: center;
    padding: 25px 30px;
}
.photo{
    border-radius: 50%;
    border: 2px solid black;
    height:150px;
    width: 130px;
    padding: 50px 50px;
    background-color:antiquewhite;
}
.col-md-8{
    align-items: center;
    padding-left: 50px;
}
.typ{
    width: 250px;
}
.seat{
    width: 100px;
}
.can{
    width:180px;
}
.sub{
    width: 180px;
}